#container-nav {
  display: flex;
  gap: 1em;
  padding: 1.2em;
  border-bottom: 1px solid black;
  align-items: center;
  gap: 1em;
}

.nav-logo {
  width: 20px;
  height: 20px;
}

.nav-links {
  display: flex;
  gap: 1em;

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}
