#container-stats {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-y: hidden;
  justify-content: space-between;
  background-color: #e3672b;

  .stats-left {
    padding-left: 7vw;
    margin-top: -5vh;

    h1 {
      font-size: 3em;
      width: 40%;
      color: white;
    }

    p {
      width: 50%;
      color: rgb(0, 0, 0);
      margin-top: 10px;
      font-weight: 500;
    }
  }

  .stats-right {
    img {
      height: 60vh;
      width: 50vw;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
