.team-detail {
  display: flex;
  background-color: #000000;
  color: white;
  min-height: 91vh;
  gap: 3vw;
  justify-content: center;
  padding-top: 5vw;
  overflow: hidden;

  .container-left-team {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: fit-content;

    .team-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .team-badge {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #000000;
      }

      .team-name {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .team-info {
      text-align: left;
      margin-top: 1.5rem;

      p {
        font-size: 1rem;
        margin: 0.5rem 0;
      }
    }
  }

  .team-players {
    width: 40%;

    .player-card {
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: white;
      color: black;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 1rem;
        margin-bottom: 0.7rem;
      }

      p {
        font-size: 0.7rem;
        margin: 0.2rem 0;
      }
    }

    .valorizacao-player {
      strong {
        font-size: 1.8em;
        color: rgb(48, 179, 18);
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 0;

    .container-left-team {
      width: 80%;
      padding: 1rem;

      .team-header {
        gap: 0.5rem;

        .team-badge {
          width: 120px;
          height: 120px;
        }

        .team-name {
          font-size: 1.5rem;
        }
      }

      .team-info {
        p {
          font-size: 0.9rem;
        }
      }
    }

    .team-players {
      width: 90%;
      margin-top: 1rem;

      .player-card {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        h3 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .valorizacao-player {
        strong {
          font-size: 1.5em;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .container-left-team {
      width: 80%;
      .team-header {
        .team-badge {
          width: 150px;
          height: 100px;
        }

        .team-name {
          font-size: 1.2rem;
        }
      }

      .team-info {
        margin-top: 10px;
        p {
          font-size: 0.8rem;
        }
      }
    }

    .team-players {
      .player-card {
        padding: 0.8rem;

        h3 {
          font-size: 0.9rem;
        }

        p {
          font-size: 0.7rem;
        }
      }

      .valorizacao-player {
        strong {
          font-size: 1.3em;
        }
      }
    }
  }
}
