#container-league-table {
  background-color: black;
  color: #f4cf5e;
  padding-top: 10dvh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  text-align: center;
  padding-bottom: 10vh;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2rem;
    margin: 20px 0;
    color: white;
  }

  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 800px;
    font-size: larger;

    th,
    td {
      padding: 12px;
      text-align: center;
      border: 1px solid #f4cf5e;
      word-wrap: break-word;
    }

    th {
      background-color: #333;
      color: #f4cf5e;
    }

    tr:nth-child(even) {
      background-color: #222;
    }

    tr:hover {
      background-color: #444;
    }

    td {
      color: #ffffff;
    }

    td:first-child {
      width: 40%;
    }
  }
}

@media (max-width: 768px) {
  #container-league-table {
    div {
      margin: 0 4%;
    }

    tr {
      font-size: small;
    }

    td {
      font-size: 18px;
    }
  }
}
